.root {
    -fx-background-color: #00ff00;
    -fx-background-image: url("images/Files/background/slayTheSpireMoreFloor.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}